.container-btn-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .btn {
        padding: 1%;
        margin: 0 1%;
        border-radius: 5px;
        color: #fff;
    }

    .btn:hover {
        cursor: pointer;
        background-color: #999;
    }

    .btn-supprimer {
        background-color: #f0442d;
    }

    .btn-dupliquer {
        background-color: #8e13ab;
    }

    .btn-modifier {
        background-color: #1f9afc;
    }
}